.navbar {
    height: 7vh;
    background: var(--background);
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.items {

}

.items a {
    margin-right: 40px;
    font-family: 'Inter';
    font-size: 16px;
    color: var(--lightForeground);
    font-weight: 400;
}

.items a:hover {
    cursor: pointer;
}
