@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: var(--taskListBackground);
    border-left-style: solid;
    border-color: var(--border);
    border-width: 1px;
    border-radius: 20px;
}

.pageIndicator {
    background: rgba(1, 1, 1, 0);
    border: none;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 700;
    color: var(--lightForeground);
    margin: 10px;
    width: 5vh;
    height: 5vh;
    transition: ease-in;
    transition-duration: 100ms;
}

.pageIndicator:hover {
    color: #000;
    cursor: pointer;
}

.currentPageIndicator {
    background: var(--buttonBackground);
    border: none;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 700;
    color: var(--inverseForeground);
    margin: 10px;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
}

.paginator {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.switchPage {
    background: rgba(1, 1, 1, 0);
    width: 5vh;
    height: 5vh;
    color: var(--lightForeground);
    border-radius: 100%;
    border-color: #eaeaea;
    border-width: 1px;
    border-style: solid;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    transition: ease-in;
    transition-duration: 100ms;
    border: none;
}

.switchPage:hover {
    color: #000;
    cursor: pointer;
}

.addTaskButton {
    /* #0b75f9 */
    background: var(--buttonBackground);
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 15px;
    transition: ease-in;
    transition-duration: 100ms;
    margin: 10px;
}

.addTaskButton:hover {
    background: var(--buttonHoverBackground);
    cursor: pointer;
}

.cancelAddingTaskButton {
    font-family: 'Inter';
    color: var(--lightForeground);
    border: none;
    background: var(--taskListBackground);
    margin: 1vh;
    transition: ease-in;
    transition-duration: 100ms;
}

.cancelAddingTaskButton:hover {
    color: var(--foreground);
    cursor: pointer;
}

.newTaskView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: var(--taskListBackground);
    border-left-style: solid;
    border-color: var(--border);
    border-width: 1px;
}

.taskTitleInput {
    background: var(--inputBackground);
    border-color: var(--border);
    color: var(--foreground);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    width: 250px;
    height: 28px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    margin-top: 3vh;
    margin-bottom: 0;
}

.datePicker {
    background: var(--inputBackground);
    border-color: var(--border);
    color: var(--foreground);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    height: 28px !important;
    width: 120px !important;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px !important;
    text-align: center;
}

.hourPicker {
    background: var(--inputBackground);
    border-color: var(--border);
    color: var(--foreground);
    border-width: 1px;
    border-style: solid solid solid none;
    border-radius: 0 20px 20px 0px;
    padding: 10px;
    height: 28px;
    width: 120px !important;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    display: flex;
    text-align: center;
}

.dateTimePicker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vh;
    margin-bottom: 2vh;
}

.noTasksText {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    margin: 20px;
    color: var(--foreground);
}

.datePicker {
    display: block;
    background: #fff;
    height: 5vh;
    width: 5vh;
}
