@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: #fbfbfb;
    border-style: solid;
    border-color: #ebebeb;
    border-width: 1px;
}

/*.mainPage {
    background: blue;
    color: #fff;
    height: 5vh;
    width: 5vh;
    border: none;
    border-radius: 100%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
}*/

.pageIndicator {
    background: #fbfbfb;
    border: none;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 700;
    color: #aaa;
    margin: 10px;
    width: 5vh;
    height: 5vh;
    transition: ease-in;
    transition-duration: 100ms;
}

.pageIndicator:hover {
    color: #000;
    cursor: pointer;
}

.currentPageIndicator {
    background: blue;
    border: none;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 700;
    color: #333;
    margin: 10px;
    height: 5vh;
    width: 5vh;
    color: #fff;
    border-radius: 100%;
}

.paginator {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.switchPage {
    background: #fbfbfb;
    width: 5vh;
    height: 5vh;
    color: #aaa;
    border-radius: 100%;
    border-color: #eaeaea;
    border-width: 1px;
    border-style: solid;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    transition: ease-in;
    transition-duration: 100ms;
    border: none;
}

.switchPage:hover {
    color: #000;
    cursor: pointer;
}

.addTaskButton {
    /* #0b75f9 */
    background: blue;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    height: 5vh;
    width: 20%;
    border: none;
    border-radius: 15px;
}

.newTask {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.newTask * {
    margin: 10px;
}

.taskTitleInput {
    background: #ffffff;
    border-color: #eaeaea;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 1vh;
    height: 3vh;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
}

.noTasksText {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    margin: 20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
