@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.task {
    background: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 70%;
    padding: 2vh;
    margin: 1vh;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
    transition: ease-in;
    transition-duration: 100ms;
    overflow: hidden;
}

.task:hover {
    background: var(--hoverBackground);
}

.deleteButton {
    height: 5vh;   
    width: 5vh;
    font-size: 20px;
    border: none;
    background: rgba(1, 1, 1, 0);
    color: var(--lightForeground);
    transition: ease-in;
    transition-duration: 100ms;
}

.deleteButton:hover {
    cursor: pointer;
    color: red;
}

.completionState {
    font-family: 'Inter';
    font-size: 16px;
    color: var(--lightForeground);
    font-weight: 300;
    margin: 5px;
    transition: ease-in;
    transition-duration: 100ms;
}
