@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.task {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 70%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: #eaeaea;
    border-width: 1px;
    transition: ease-in;
    transition-duration: 100ms;
    overflow: hidden;
}

.task:hover {
    background: #f9f9f9;
}



.completionState {
    font-family: 'Inter';
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin: 5px;
    transition: ease-in;
    transition-duration: 100ms;
}

.completionState:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0b75f9;
}
