.timer {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 100px;
    color: var(--foreground);
}

.timerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startButton {
    font-family: 'Inter';
    font-weight: 700;
    background: var(--buttonBackground);
    color: var(--inverseForeground);
    border: none;
    width: 95px;
    height: 47px;
    border-radius: 15px;
    margin: 2vh;
    margin-right: 20px;
    font-size: 15px;
    transition: ease-in;
    transition-duration: 100ms;
}

.startButton:hover {
    background: var(--buttonHoverBackground);
    cursor: pointer;
}

.pauseButton {
    font-family: 'Inter';
    font-weight: 700;
    background: var(--buttonBackground);
    color: var(--inverseForeground);
    border-width: 1px;
    border-style: solid;
    width: 95px;
    height: 47px;
    border-radius: 15px;
    margin: 2vh;
    margin-right: 20px;
    font-size: 15px;
    transition: ease-in;
    transition-duration: 100ms;
}

.pauseButton:hover {
    background: var(--buttonHoverBackground);
    cursor: pointer;
}

.resetButton {
    font-family: 'Inter';
    font-weight: 700;
    background: var(--background);
    color: var(--foreground);
    border-color: var(--border);
    width: 95px;
    height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    margin: 2vh;
    margin-left: 20px;
    font-size: 15px;
    transition: ease-in;
    transition-duration: 100ms;
}

.resetButton:hover {
    background: var(--taskListBackground);
    cursor: pointer;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
